<div class="container mx-auto px-4 sm:px-6 lg:px-8 py-4 mb-3">
    <div class="flex items-center justify-between">
        <div class="text-lg">
            <a href="{{ path('app_home') }}">
                <img src="{{ asset('images/logo_site.webp') }}" alt="JysaMusique Logo" class="h-8" title="JysaMusique">
            </a>
        </div>
        <div class="hidden md:flex">
            <a href="{{ path('app_home') }}" class="px-3 py-2 hover:border-b-2 border-blue-500">Accueil</a>
            <a href="#" class="px-3 py-2 hover:border-b-2 border-blue-500">Catégorie</a>
            <a href="#" class="px-3 py-2 hover:border-b-2 border-blue-500">Musique</a>
            <a href="#" class="px-3 py-2 hover:border-b-2 border-blue-500">Article</a>
            <a href="#" class="px-3 py-2 hover:border-b-2 border-blue-500">Offre</a>
            <a href="#" class="px-3 py-2 hover:border-b-2 border-blue-500">À propos</a>
        </div>
        <button id="loginButton"
                class="px-3 py-2 bg-gradient-to-r from-teal-400 to-blue-500 hover:from-pink-500 hover:to-orange-500 text-white font-semibold rounded-md">
            Se connecter
        </button>
    </div>
</div>

{# version mobile #}
<div class="md:hidden" id="mobileMenu">
    <a href="#" class="block px-4 py-2 text-white bg-gray-700">Accueil</a>
    <a href="#" class="block px-4 py-2 text-white bg-gray-700">Catégorie</a>
    <a href="#" class="block px-4 py-2 text-white bg-gray-700">Musique</a>
    <a href="#" class="block px-4 py-2 text-white bg-gray-700">Article</a>
    <a href="#" class="block px-4 py-2 text-white bg-gray-700">Offre</a>
    <a href="#" class="block px-4 py-2 text-white bg-gray-700">À propos</a>
</div>


{{ include('_modal_login.html.twig') }}
